html {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

a {
    text-decoration: none;
    text-align: center;
}

h1 {
    margin-left: 5px;
}

.center {
    text-align: center;
}

.gap {
    margin: 5px;
    display: block;
    position: relative;
}

.big_gap {
    margin: 25px;
    display: block;
    position: relative;
}

/*--- NAV BAR --------------------------------------*/
/*----LOGO-----*/
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
    position: relative;
    display: grid;
    grid-template-columns: 220px 1fr 50px 50px 50px;
    height:min-content;
}

#logo {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    #logoDiv {
        width: 200px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        padding: 20px 0px 10px 0px;
    }

    #logoDiv:hover {
        animation: logo-size-in 0.7s forwards;
    }
    
    #logoDiv:not(:hover) {
        animation: logo-size-out 0.7s forwards;
    }

    #hamburger_menu {
        display: none;
    }

}

@media only screen and (min-width: 1400px) {
    #logoDiv:hover {
        animation: BIGSCREEN_logo-size-in 0.7s forwards;
    }
    
    #logoDiv:not(:hover) {
        animation: BIGSCREEN_logo-size-out 0.7s forwards;
    }
}

@keyframes logo-size-in {
    from {width: 20%;
        height: auto;}
    to {width: 21%; 
        height: auto;}
}

@keyframes logo-size-out {
    from {width: 21%;
        height: auto;}
    to {width: 20%; 
        height: auto;}
}


@keyframes BIGSCREEN_logo-size-in {
    from {width: 14%;
        height: auto;}
    to {width: 15%; 
        height: auto;}
}

@keyframes BIGSCREEN_logo-size-out {
    from {width: 15%;
        height: auto;}
    to {width: 14%; 
        height: auto;}
}
/*----ICONS-----*/

.navIcons {
    width: 22px;
    height: 22px;
    padding: 15px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* or fixed height like 40px */
  }
  
  .icon img {
    padding: 0;
    margin: 0;
    display: block;
  }

.icon img:hover {
    opacity: 50%;
}

/*----SEARCH-BAR-----*/
#div_search {
    padding: 15px;
    height: min-content;
}

.form_searchBar {
    display: grid;
    grid-template-columns: 30px 1fr;
}

#div_search .submitButton {
    width: 22px
}

#div_search .inputBar {
    background-color: black;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    color: white;
    font-size: 0.8rem;
    padding: 5px;
    padding: 0px 0px 5px 0px;
    margin-left: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgb(0, 0, 0) inset !important; /* Change 'white' to your desired background color */
  -webkit-text-fill-color: #ffffff !important; /* Change to your desired text color */
  font-family: "Alegreya Sans";
  background-color: transparent !important; /* Ensure no underlying background color */
  transition: background-color 5000s ease-in-out 0s; /* Slow transition to override default */
}

#div_search .inputBar:focus, #div_search .inputBar:hover {
    background-color: black;
    border: none;
    outline: none;
    animation: inputBar_border 0.7s forwards;
}

#div_search .inputBar:not(:hover) {
    animation: inputBar_border_out 0.7s forwards;
}

@keyframes inputBar_border {
    from {border-bottom: 1px solid rgba(0, 0, 0, 1);}
    to {border-bottom: 1px solid rgba(255, 255, 255, 1)}
}

@keyframes inputBar_border_out {
    from {border-bottom: 1px solid rgba(255, 255, 255, 1)}
    to {border-bottom: 1px solid rgba(0, 0, 0, 1);}
}

/*-----NAV------*/
nav {
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    padding-bottom: 20px;
}

nav a, nav button {
    font-family: "Poppins";
    font-size: 0.8rem;
    margin-left: 3%;
    margin-right: 3%;
    color: white;
}

/*----DROPDOWN-----*/
.shopDropdown .dropbtn {
    color: white;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
  }

.shopDropdown {
    display: inline;
    position: relative;
    background-color: #000000;
}

nav a:hover, .shopDropdown:hover .dropbtn {
    color: rgb(161, 161, 161);
  }

.shopDropdownContent {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    left: 30px;
  }
  
.shopDropdownContent a {
    color: white;
    padding: 10px;
    display: block;
    text-align: left;
    text-transform: uppercase;
    background-color: #000000;
    font-size: 0.6rem;
}
  
.shopDropdownContent a:hover {
    color:#dbd4df;
    text-decoration: underline;
}

.shopDropdown:hover  .shopDropdownContent {
    display: block;
}

/*--- NAV BAR END --------------------------------------*/

/*--- MOBILE NAV BAR --------------------------------------*/
#hb_darkOverlay, #search_darkOverlay {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
    position: absolute;
    display: none;
}

#hamburger_menu #myLinks {
    position: fixed;
    background-color: black;
    z-index: 3;
    left: 0;
    top: 0;
    width: 60%;
    height: 100vh;
    padding: 10px;
    flex-direction: column;
  }

#hamburger_menu .dropdown {
    position: relative;
}

#hamburger_menu .dropdown-menu {
    display: none;
    flex-direction: column;
    padding-left: 15px; /* indent submenu */
}
  
#hamburger_menu .dropdown-menu a {
    padding: 8px 0;
    font-size: 0.95em;
    color: white;
    text-align: left;
    margin-left: 20px;
}
  
  /* Show submenu when active */
#hamburger_menu .dropdown.open .dropdown-menu {
    display: flex;
}
  
  /* Optional styling for dropdown toggle arrow */
#hamburger_menu .dropdown-toggle {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
  
#hamburger_menu #hamburger, #a_hamburger {
    width: 18px;
    height: auto;
    display: block;
    margin: 0px;
}

#hamburger_menu #a_hamburger {
    margin: 0px 10px;
}

#myLinks > img {
    width: 30px;
    height: auto;
    display: block;
    margin: 10px auto 10px 85%;
}

#myLinks.hamburgerIn {
    animation: hamburgerSlideIn 0.5s forwards;
}

#myLinks.hamburgerOut {
    animation: hamburgerSlideOut 0.5s forwards;
}

#myLinks.hamburgerNeutral {
    display: none;
}

@keyframes hamburgerSlideIn {
    0% { transform: translateX(-250px); 
        display: block;}
    100% { transform: translateX(0); }
}

@keyframes hamburgerSlideOut {
    0% { transform: translateX(0); }
    100% { transform: translateX(-250px); 
            display: none}
}

#myLinks .a_pageLink {
    display: block;
    color: white;
    padding: 20px;
    text-align: left;
}

#mobile_searchIcon {
    display: none;
}

#mobile_div_search {
    height: min-content;
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    z-index: 3;
}

#mobile_div_search .form_searchBar {
    display: grid;
    grid-template-columns: 1fr 30px;
    border: solid 1px white;
    padding: 20px;
    margin: 10px;
    height: auto;
}

#mobile_div_search .submitButton {
    width: 22px

}

#mobile_div_search .inputBar {
    background-color: black;
    border: none;
    border-bottom: 1px solid black;
    color: white;
    font-size: 0.8rem;
    padding: 0px;
    width: 100%;
}

#mobile_div_search .inputBar:focus, #div_search .inputBar:hover {
    background-color: black;
    border: none;
    outline: none;
}

#mobile_div_search.searchIn {
    animation: searchSlideIn 0.5s forwards;
}

#mobile_div_search.searchOut {
    animation: searchSlideOut 0.5s forwards;
}

#mobile_div_search.searchNeutral {
    display: none;
}

@keyframes searchSlideIn {
    0% { transform: translateY(-80px); 
        opacity: 0;
        display: block;}
    100% { transform: translateY(0); 
        opacity: 1;}
}

@keyframes searchSlideOut {
    0% { transform: translateY(0); 
        opacity: 1;}
    100% { transform: translateY(-80px); 
        opacity: 0;
            display: none}
}

@media only screen and (max-width: 600px) {
    nav {
        display: none;
    }

    header {
        grid-template-columns: 40px 40px 1fr 40px 40px;
        padding: 5px;
        height: 65px;
        align-items: center;
    }

    #wishlist {
        display: none;
    }

    #div_filler {
        display: none;
    }

    #div_search {
        display: none;
    }


.icon {
    width: 18px;
    height: auto;
    padding: 5px;
    display: inline;
}

.icon img {
    width: 100%;
    height: auto;
}


#logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 150px;
    padding: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

#logoDiv a {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .logoDiv img {
    padding: 0;
    margin: 0;
    display: block;
  }

  #mobile_searchIcon {
    display: block;
    }

}

/*--- MOBILE NAV BAR END --------------------------------------*/

/*--- FOOTER --------------------------------------*/
#footer {
    grid-area: footer;
    background-color:#000000;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "socials about account";
    padding: 20px;
}

#footer div {
    padding: 15px;
    margin-left: 10%;
}

#footer h3 {
    font-size: 1rem;
}

#footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#footer li {
    padding: 5px 0px;
}

#footer a, #footer button, #footer p {
    font-size: 0.8rem;
    font-weight: 200;
    background-color: black;
    border: none;
    color: white;
    font-family: "Alegreya Sans";
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    #footer {
       display: block;
    }

    #footer div{
        margin: 20px;
     }

     #footer h3 {
        margin: 0px 0px 10px 0px;
     }
}
/*--- FOOTER END --------------------------------------*/

/*--- HOME PAGE ----------------------------------------*/

/*---HEADER----*/
#header_img {
    grid-area: header_img;
    width: 100%;
    height: 700px;
}

#header_img_background {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0.75) ),
    url("/images/header-image.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    z-index: 1;
}

#header_img_logo {
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    padding: 15px 0px;
}

/*---FEATURED-PRODUCTS----*/
#featured {
    grid-area: featured;
    margin: 40px 0px 40px 0px;
}

#featured > h1 {
    font-weight: 700;
    text-align: center;
    margin: 0px;
}

#featured > a {
    background-color: #7b628b;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    padding: 10px;
    font-size: 0.8rem;
    margin: 20px;
    display: block;
    width: 5em;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#featured_products_container {
    display: grid;
    align-items: start;
    grid-auto-flow: column;
    grid-auto-columns: 20%; /* play with this to change height of the children, 50% will fill half */
    grid-template-columns: unset; /* do not set template columns and rows */
    grid-template-rows: unset;
    height: 100%;
    overflow-x: scroll;
    overflow-y:hidden;
}

.featured_product {
    width: 90%;
    height: 100%;
    margin: 10px;
    cursor: pointer;
}

.featured_image:hover + .info_card, .info_card:hover {
    background-color:#393939;
}

.featured_product .featured_image {
    width: 100%;
    aspect-ratio: 2 / 3; /* 600x400 = 3:2 */
    object-fit: cover;   /* keeps it looking good */
    margin: 0px;
    display: block;
}

.info_card {
    background-color: black;
    color: white;
    font-family: "Alegreya Sans";
    text-transform: uppercase;
    padding: 10px;
    margin: 0px;
    display: block;
    height: 100%;
}

.info_card  p {
    margin: 0px;
    font-size: 15px;
    font-weight: 100;
    padding: 3px 0px 3px 0px;
}

.info_card  .price {
    font-size: 16px;
    font-weight: 400;
}

/*---ABOUT-SECTION----*/
#container_aboutUs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text img";
}

#about_us {
    background-color: #dbd4df;
    padding: 80px 80px 80px 80px;
    grid-area: text;
}

#about_us > h1 {
    text-align: center;
    margin-top: 0px;
}

#about_us > a {
    background-color:#000000;
    color: #dbd4df;
    padding: 10px 20px;
    margin: 30px auto 0px auto;
    text-align: center;
    display: block;
    width: 40%;
}

#about_us_img {
    background-color: #dbd4df;
    padding: 50px 0px 50px 0px;
    grid-area: img;
}

#about_us_img > img {
    width: 100%;
    height: auto;
    display:block;
}

/*--- HOME PAGE END ----------------------------------------*/

/*--- HOME PAGE MOBILE ----------------------------------------*/
@media only screen and (max-width: 600px) {
    .home_container {
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "header_img header_img header_img"
        "featured featured featured"
        "about_us about_us about_us"
        "about_us_img about_us_img about_us_img"
        "footer footer footer footer footer footer"
    }

    #header_img {
        height: 300px;
        width: auto;
    }
    #header_img_background {
        background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) ),
        url("/images/mobile_headerImage.png");
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #header_img_background > p {
        display: block;
        color: white;
        margin: 0px;
    }

    #header_img_logo {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    #featured h1 {
        font-size: 1.5rem;
    }

    #featured #featured_products_container {
        grid-auto-columns: 50%;
    }

    #featured .info_card {
        height: 100px;
    }

    #container_aboutUs {
        grid-template-areas: "text text" "img img";
    }

    #about_us {
        padding: 60px 20px;
        text-align: center;
    }

    #about_us a {
        margin: 20px auto 0px auto;
    }

    #about_us_img {
        padding: 0px;
    }
}
/*--- HOME PAGE MOBILE END ------------------------------------*/

/*--- SHOP PAGE ----------------------------------------*/
/*---CATEGORIES-SECTION----*/
#categoriesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    color: white;
}

#categoriesContainer div {
    position: relative;
    margin: 15px;
    cursor: pointer
}

#categoriesContainer p {
    font-size: 90%;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

#categoriesContainer button {
    padding: 0px;
    margin: 0px;
}

#categoriesContainer img {
    width: 100%;
    filter: drop-shadow(2px 2px 10px #000000);
    display: block;
}

/*---FILTERS-SECTION----*/
#filters {
    display: flex;
}
#colourDropdown, #sizeDropdown, #sortDropdown {
    background-color: #dbd4df;
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;
    font-size: 0.8rem;
    display: block;
    width: max-width;
    text-transform: uppercase;
}

#colourFilterDiv, #sizeFilterDiv, #sortDiv {
    display: inline-block;
    margin: 10px;
    text-transform: uppercase;
}

#sortDiv {
    margin-left: auto;
    margin-right: 20px;
}

#loadMoreBtn {
    background-color:#000000;
    color: #ffffff;
    padding: 20px 40px;
    margin: 50px auto 50px auto;
    text-align: center;
    text-transform:uppercase;
    display: block;
    width: 200px;
    cursor: pointer;
    border: none;
}
/*----MOBILE-FILTERS-----*/
@media only screen and (max-width: 600px) {

      #filters {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #colourDropdown, #sizeDropdown, #sortDropdown {
        background-color: #dbd4df;
        border: none;
        color: rgb(0, 0, 0);
        padding: 10px;
        margin: 0px;
        font-family: "Alegreya Sans";
        font-weight: 400;
        font-size: 0.8rem;
        display: block;
        width: max-width;
        text-transform: uppercase;
    }
    
    #colourFilterDiv, #sizeFilterDiv, #sortDiv {
        display: inline-block;
        margin: 5px;
        text-transform: uppercase;
    }
    
    #sortDropdown {
        background-color: #000000;
        color: white;
    }
}

/*---PRODUCTS-SECTION----*/
#products_container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.productContainer {
    margin: 0px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.productContainer .productImageContainer {
    position: relative;
}

.productImageContainer .productImage {
    display: block;
    width: 100%;
    aspect-ratio: 2 / 3; /* 600x400 = 3:2 */
    object-fit: cover;   /* keeps it looking good */
    margin: 0px;
    padding: 0px;
}

.productImageContainer .addToWishlistButton {
    position: absolute;
    margin: 10px;
    right: 0;
    top: 0;
    width: 11%;
}

.productImageContainer .addToWishlistButton:hover {
    opacity: 0.3;
}

.productContainer .productName  {
    font-size: 1.2rem;
    padding: 3px 0px;
    margin: 0px;
    display: block;
}

.productContainer .productSize  {
    font-size: 1rem;
    padding: 3px 0px;
    margin: 0px;
}

.productContainer .productPrice  {
    font-size: 1rem;
    padding: 5px;
    margin: 0px;
    font-weight:800;
}

@media only screen and (max-width: 600px) {
    #products_container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .productImageContainer .addToWishlistButton {
        width: 17%;
    }

    #categoriesContainer {
        display: none;
    }
}

/*--- SHOP PAGE END ----------------------------------------*/

/*--- PRODUCT PAGE ----------------------------------------*/
#container_productPage {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "photos photos photos info info info"
}

#container_photos {
    grid-area: photos;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-areas:
    "list selected";
    margin: 0px 20px 0px 20px;
    position: relative;
}


#container_info {
    grid-area: info;
}

#container_info h1 {
    font-size: 1.8rem;
    padding: 0px;
    margin: 3px 0px;
}

#container_info p {
    font-size: 0.8rem;
    padding: 0px;
    margin: 3px 0px;
    display: inline;
}

#container_info h6 {
    font-size: 0.8rem;
    padding: 0px;
    margin: 3px 0px;
    display: inline;
}

#container_info a {
    font-size: 0.8rem;
    padding: 0px;
    text-decoration: underline;
    color: black;
    margin: 3px 0px;
    display: inline;
}

#container_info #p_price {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
}

#container_colours {
    display: flex;
    gap: 10px;
}

#div_colour {
    display: flex;
    align-items: center;
    gap: 5px;
}

#div_colour p {
    margin: 0px 15px 0px 0px;
    text-transform: capitalize;
    display: block;
}

#div_colour #colour1, #div_colour #colour2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
}


.div_productButtons {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 50px;
    column-gap: 5px;
}

.div_productButtons button {
    background-color:#000000;
    color: white;
    margin: 0px;
    padding: 8px;
    border: none;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_productButtons .div_addToCart {
    width: 100%;
    height: 100%;
    background-color: #c8c8c8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:not-allowed;
}

.div_productButtons button:hover {
    background-color:#494949;
    color: white;
    cursor:pointer;
}

.div_productButtons img {
    width: 100%;
    display: block;
}

#ul_photos {
    grid-area: list;
    padding: 0px;
    margin: 0px 10px;
}

#ul_photos {
    list-style-type: none;
}

#ul_photos img {
    width: 100%;
    height: auto;
    padding: 0px;
}

#container_photos .prev, #container_photos .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    height: max-content;
    margin-top: -22px;
    padding: 14px 3px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border: none;
    user-select: none;
}

.prev img, .next img {
    width: 15px;
    height: auto;
    display: block;
    padding: 8px;
}

#container_photos .next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

#div_selectedImage {
    width: 100%;
    height: auto;
}

.img_selected {
    width: 100%;
    aspect-ratio: 2 / 3; /* 600x400 = 3:2 */
    object-fit: cover;   /* keeps it looking good */
}

@media only screen and (max-width: 600px) {
    #container_productPage {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "photos"
        "info"
    }

    #container_photos {
        margin: 0px;
        grid-template-columns: 1fr;
        grid-template-areas: "selected";
    }

    #ul_photos {
        display: none;
    }

    #slideshow {
        width: 100%;
    }

    #container_info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "nameAndPrice" "buttons" "info" "shipping";
    }

    #div_nameAndPrice {
        grid-area: nameAndPrice;
    }

    #div_productButtons {
        grid-area: buttons;
    }

    #div_info {
        grid-area: info;
    }

    #div_shipping {
        grid-area: shipping;
    }

    #button_addToWishlist {
        padding: 15px;
    }
}



/*--- PRODUCT END ----------------------------------------*/

/*--- ACCOUNT PAGE ----------------------------------------*/
#wishlist_products_container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.wishlistImage {
    width: 100%;
    height: auto;
}

#ul_photos > li img {
    width: 100%;
}

/*--- ACCOUNT PAGE END----------------------------------------*/

/*--- ABOUT PAGE --------------------------------------------*/
#main_about {
    padding: 20px;
}
#teamDiv {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "grace zuri"
}

#zuriDiv, #graceDiv {
    position: relative;
    margin: 15px;
}

#graceDiv {
    grid-area: grace;
}

#zuriDiv {
    grid-area: zuri;
}

#zuriDiv img, #zuriDiv p, #graceDiv img, #graceDiv p {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*--- ABOUT PAGE END ----------------------------------------*/

/*--- TERMS AND CONDITIONS / PRIVACY PAGE ----------------------------------*/
#container_tandc {
    padding: 20px;
}

#container_tandc div {
    margin: 0px 0px 40px 0px;
}

#container_tandc p {
    font-size: 0.8rem
}

#container_tandc ul {
    font-size: 0.8rem
}

#container_tandc h3 {
    font-size: 0.9rem;
    margin: 0px;
}
/*--- TERMS AND CONDITIONS / PRIVACY PAGE END ------------------------------*/

/*--- REVIEW PAGE --------------------------------------------*/
#reviewsHeading {
    text-align: center;
    margin: 0px;
    display: block;
}

#reviewsHeading h1 {
    margin: 20px;
}

#reviewsHeading p {
    margin: 0px;
}

#reviewsHeading a {
    padding: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    background-color:#7b628b;
    color: white;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    display: block;
    width: 20%;
}
#reviewsContainer {
    column-count: 3;
    column-fill: balance;
    column-gap: 20px;
    margin: 30px;
}

#reviewsContainer > div {
    width: 100%;
    display: inline-block;
    margin: 10px 0px;
    padding: 0px;
    background-color: #dbd4df;
}

.reviewImage {
    width: 100%;
    margin: 0px;
    padding: 0px;
}


#reviewsContainer  p {
    margin: 10px;
    padding: 0px;
}

#sortReviewsDiv {
    color: white;
    padding: 10px
}

#star {
    width: 20px;
    padding: 5px;
}

.reviewDiv .name {
    margin: 0px 10px;
    text-align: right;
}


/*--- REVIEW PAGE END --------------------------------------------*/

/*--- CREATE REVIEW PAGE -----------------------------------------*/


#div_formContainer {
    padding: 10px;
    margin: 20px;
    background-color: #dbd4df;
}

#div_formContainer h2 {
    margin: 20px 10px;
}

#div_purchasesList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#div_purchases > div{
    width: 100%
}

#div_purchases img {
    width: 100%;
}

#form_createReview button {
    display:block;
    padding: 10px;
    margin: 5px 5px 20px 5px;
    font-size: 0.6rem;
    background-color:black;
    color: white;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
}

#form_createReview label {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}


#form_createReview #textReview {
    padding: 10px;
    margin: 10px;
    font-size: 0.8rem;
    resize: none;
    font-family: "Algera Sans";
    font-weight: 400;
    width: 50%;
}

#form_createReview #textReview:focus-within,
#form_createReview #textReview:hover,
#form_createReview #textReview:valid{
    background-color:rgb(255, 255, 255);
    border: 0px;
    outline: none;
}

#form_createReview #div_image {
    padding: 10px;
    margin: 10px;
    background-color: #e5e1e7
}

#form_createReview select {
    padding: 10px;
    margin: 10px;
    font-size: 0.8rem;
    cursor: pointer;
}

#form_createReview .selected-image-preview {
    border: 1px solid #ccc;
    border-radius: 4px;

}
/*--- MAKE ACCOUNT PAGE  ----------------------------------------------*/
#div_makeAcccountContainer {
    background-color: #ffffff;
    padding:20px;
}

.h_line { 
    width:50%; 
    margin-left: auto;
    margin-right: auto;
    height:1px; 
    background:rgb(0, 0, 0)
}

#firebaseui-auth-container {
    padding: 20px;
}

/*--- ACCOUNT PAGE  ----------------------------------------------*/

#div_accountContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#div_accountContainer > #div_sidebar {
    grid-column: 1;
    padding: 10px 0px 10px 10px;
}

#div_welcome {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 30px 20px;
    margin: 0px;
}

#div_welcome p {
    margin: 0px;
    display: inline;
}
#div_accountContainer .p_sidebarItemSelected {
    background-color: rgb(235, 235, 235);
    padding: 10px;
    padding: 40px 20px;
    margin: 0px;
    text-transform: uppercase;
}

#div_accountContainer .p_sidebarItem {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    padding: 40px 20px;
    margin: 0px;
    text-transform: uppercase;
}

.p_sidebarItem:hover, .p_sidebarItemSelected:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

#div_accountContainer > #div_info {
    grid-column: 2 / span 2;
    height: auto;
    margin: 10px 10px 10px 0px;
    padding: 20px;
    background-color: rgb(235, 235, 235);
    overflow-y: scroll;
}

#div_myDetails {
    margin-left: 20px;
}

#div_info h1 {
    font-size: 1.2rem;
}

#div_info h2 {
    font-size: 1rem;
    margin: 10px 0px;
}

.div_userInfo {
    margin: 25px 0px;
    display: block;
}

#div_info p {
    font-size: 1rem;
    margin: 0px;
}

/*-ACCOUNT_REVIEWS-*/

#acc_reviewsContainer {
    column-count: 2;
    column-gap: 20px;
    margin: 30px;
}

#a_createReview {
    padding: 10px 20px;
    background-color: black;
    color: white;
    margin: 0px;
    font-size: 0.7rem;
    text-align: center;
    border: none;
    cursor: pointer;
}

#acc_reviewsContainer > div {
    width: 100%;
    display: inline-block;
    margin: 10px 0px;
    padding: 10px;
    background-color: #ffffff;
}

.acc_reviewImage {
    width: 100%;
    margin: 0px;
    padding: 0px;
}


#acc_reviewsContainer  p {
    margin: 10px;
    padding: 0px;
}

#acc_star {
    width: 20px;
    padding: 5px;
}

.acc_button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    cursor: pointer;
}

.acc_button:hover {
    background-color: #3d3d3d;
}

.acc_reviewDiv .acc_name {
    margin: 0px 10px;
    text-align: right;
}

#div_accWishlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#div_accWishlist > div {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

#div_accWishlist img {
    width: 100%
}

/*--- ACCOUNT PAGE END  ------------------------------------------*/
/*--- ADMIN -----------------------------------------------------*/
/*--- add products ----------------------------*/
#form_addProducts {
    padding: 20px 60px 20px 60px;
    width: 40%;
    margin: 20px auto 20px auto;
    background-color: rgb(227, 227, 227);
}

#form_addProducts  label {
    font-size: 1rem;
    display: block;
    margin: 7px 0px 0px 0px;
    text-transform: uppercase;
}

#form_addProducts  input, #form_addProducts  select {
    font-size: 0.9rem;
    margin: 5px 0px 10px 0px;
    padding: 5px 0px 5px 0px;
    width: 80%;
}

#form_addProducts  #submit {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px;
    margin: 10px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

#form_addProducts  #submit:hover {
    background-color: rgb(136, 136, 136);
}

#form_addProducts  h6 {
    font-size: 0.5rem;
    margin: 5px 0px;
    padding: 0px;
}


/*--- ADMIN END -------------------------------------------------*/
/*--- CART PAGE  ----------------------------------------------*/
#container_cart {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "cartItems cartInfo";
}

#cartItems {
    grid-area: cartItems;
}

#cartInfo {
    grid-area: cartInfo;
    border: solid 1px black;
    margin: 20px;
}

#cartItems, #cartInfo {
    padding: 20px;
}

#cartItems .product {
    border: solid 1px black;
    background-color:#eaeaea;
    padding: 20px;
    margin-bottom: -1px;
    display: grid;
    grid-template-columns: 80px 1fr 20px;
    cursor: pointer;
}

.product .image, .product .info {
    padding: 5px;
}

.product h3 {
    margin: 5px 0px;
}

.product p {
    margin: 5px 0px;
}

#cartItems img {
    width: 100%;
}

/*----- SEARCH PAGE ------------------------------------------*/
/*---PRODUCTS-SECTION----*/
#search_products_container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 600px) {
    #products_container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .productImageContainer .addToWishlistButton {
        width: 17%;
    }

    #categoriesContainer {
        display: none;
    }
}

/*--- CART PAGE END  -------------------------------------------*/
@media only screen and (max-width: 600px) {
    .web {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .mobile {
        display: none;
    }
}